#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 90%;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  flex: 1;
  font-weight: bold;
}

.form-group input {
  margin-top: 20px;
  flex: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.btn__submit {
  width: 70px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  font-size: 18px;
  margin-top: 40px;

  &:hover {
    cursor: pointer;
    background-color: #4f4f4f;
    border: 1px solid #cfcece;
  }
}

.table,
.result > div {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  font-weight: bold;
  padding-bottom: 10px;
}

.result {
  padding: 12px 0;
  margin-top: 30px;
}

.result--bordered {
  border: 1px solid #ccc;
  border-radius: 25px;
}

.table > div,
.result > div > div {
  flex: 1;
  text-align: center;
}

.date__result, .distance__result {
  padding: 10px 0;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit__btn,
.delete__btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  padding: 5px;
}
